apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: cosign
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: cosign
    app.kubernetes.io/part-of: cosign
  name: cosign
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: cosign
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: cosign
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/cosign/cosign@sha256:0dcbd148114f76551ddb24ed3291bdcadbaec26a3a43a415a5a84c9606f56c20
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 256Mi
status: {}
